
.FAQList {
  text-align: left;
  overflow-y: scroll;
  height: 300px;

  .QuestionLeft{
    display: inline-block;
    width: 80%;
    text-align: left;
  }

  .QuestionRight{
    display: inline-block;
    width: 20%;
    text-align: right;
  }

}

