.InfoUser{
    background-color: white;
    display: inline-block;

    height: 500px;
    width: 15%;
    margin-top: 20px;

    .InfoUserContent{
        margin-top:30%;
        margin-left: 10%;
        margin-right: 10%;
    }

}